<%- include("partials/header.ejs") %>
    
<h1>Blogspot Eugene</h1>
<form action="/submit" method="POST">
    <label for="next post">posts</label>
    <input type="text" id="password" name="password">
    <input type="submit" value="OK">
</form>
<%- include("partials/footer.ejs") %>